

/*
 * Responsive Debug Information! Do not remove or modify until deployment
 */

/* Base css styling for the bedug box */
body::before {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    display: block;
    text-align: center;
    font-size:12px!important;
    font-weight: bold;
    padding: 5px 15px 5px 32px!important;
    border-top-right-radius: 15px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}
  
/* High Resolution Desktops */
@media (min-width: 1200px) {
	body::before {
    	background-color: rgba(255, 0, 0, 0.5);
    	background-image: url('../responsive-debug/device-icons/desktop_widescreen.png');
    	background-repeat: no-repeat;
    	background-position: 3px center;
    	content: "High Resolution Desktops - 1200px and up";
    }	
}

/* Standard Desktops and Landcape Tablets */
@media (min-width: 980px) and (max-width: 1199px) {
	body::before {
    	background: rgba(0, 255, 0, 0.5);
    	background-image: url('../responsive-debug/device-icons/desktop_standard.png');
    	background-repeat: no-repeat;
    	background-position: 7px center;
    	content: "Standard Desktops and Landcape Tablets - 980px - 1199px";
    }	
}
 
/* Portrait Tablet and Landscape Mini-Tablets */
@media (min-width: 768px) and (max-width: 979px) {
	body::before {
    	background: rgba(0, 0, 255, 0.5);
    	background-image: url('../responsive-debug/device-icons/tablet_portrait.png');
    	background-repeat: no-repeat;
    	background-position: 9px center;
    	content: "Portrait Tablet and Landscape Mini-Tablets - 768px - 979px";
    }	
}
 
/* Portrait Mini-Tablet and Landscape Phones */
@media (max-width: 767px) {
	body::before {
    	background: rgba(0, 255, 255, 0.5);
    	background-image: url('../responsive-debug/device-icons/mini_portrait.png');
    	background-repeat: no-repeat;
    	background-position: 9px center;
    	content: "Portrait Mini-Tablet and Landscape Phones - 767px and lower";
    }	
}
 
/* Landscape Phones and down */
@media (max-width: 480px) {
	body::before {
    	background: rgba(255, 0, 255, 0.5);
    	background-image: url('../responsive-debug/device-icons/phone_portrait.png');
    	background-repeat: no-repeat;
    	background-position: 9px center;
    	content: "Landscape Phones and down - 480px and down";
    }
}
